@model Pc1Laboratorio.Models.Registro;

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body >
  <h1 align="center" style="color:#A52A2A ;font-family:Comic Sans MS">
    Formulario Registrado con éxito
    </h1>

    <br><h3 style="font-family:Lucida Console">@ViewData["Message"]</h3>
    <br><h3 style="font-family:Lucida Console">@ViewData["Message1"]</h3>
    <br><h3 style="font-family:Lucida Console">@ViewData["Message2"]</h3>
    <br><h3 style="font-family:Lucida Console">@ViewData["Message3"]</h3>
    <br><h3 style="font-family:Lucida Console">@ViewData["Message4"]</h3>
    <br><h3 style="font-family:Lucida Console">@ViewData["Message5"]</h3>



</body>
</html>